<%= simple_form_for(@responsable) do |f| %>
  <% if @responsable.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4 class="alert-heading">
        Ups, hay algunos errores que deberías ver...
      </h4>
      </ul>
    </div>
  <% end %>

  <%= f.input :nombre %>
  <%= f.input :email %>
  
  <div class="actions">
    <%= f.button(
      :submit,
      @responsable.new_record? ? 'Crear Responsable' : 'Actualizar Responsable',
      class: 'btn-primary'
    ) %>
  </div>
<% end %>
