<div class="page-header">
  <h1><%= t('.titulo') %></h1>
  <nav>
    <%= link_to t('etiqueta.ver'), @responsable %> |
    <%= link_to t('etiqueta.volver'), responsables_path %>
  </nav>
</div>

<%= render 'form' %>
